<!DOCTYPE html>
<html>
<head>
  <title>Down For Maintenance</title>
  <style type="text/css">
    body { background-color: #fff; color: #666;  font-family: arial, sans-serif; font-size:14px;}
    div.dialog {
      width: 500px;
      outline:10px solid #f7f7f7;
      padding:  25px 35px;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      text-align: center;
    }
    h1 { font-size: 170%; color: #333; line-height: 1.5; margin-top:5px;}
    p { line-height:1.5; font-size:90%;}
  </style>
</head>

<body>
  <div class="dialog">
    <h1>Down For Maintenance</h1>
    <p>
      This site is currently down for maintenance. We will be back shortly.
    </p>
  </div>
</body>
</html>